name: tests

on:
  push:
    branches-ignore:
      - develop
      - master
  pull_request:
    branches-ignore:
      - develop
      - master

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_REDIRECT_WHEN_NOT_AUTHENTICATED_ROUTE: "http://localhost/auth/sign-in"
      NEXT_PUBLIC_DOMAIN_NAME: "localhost"
      NEXT_PUBLIC_SITE_URL: "http://localhost"
      NEXT_PUBLIC_API_URL: "http://localhost"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          echo "Starting install dependencies..."
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install 22
          nvm use 22
          npm install bun --global
          bun install

      - name: Check Lint
        run: |
          echo "Starting check lint..."
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install 22
          nvm use 22
          npm install bun --global
          bun run biome:check

      - name: Build Application
        run: |
          echo "Starting build..."
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install 22
          nvm use 22
          npm install bun --global
          bun run build
